
#edit-modal{
    top: 0;
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    transition: 1s ease-in-out;
}
#edit-modal form{
    background: #fff;
    width: 70%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #000;
}

a{
    text-decoration: none;
    color: #313131;
}

.head-title{
    display: flex;
    justify-content: flex-start;
}
.section{
    text-align: start;
}
.text-center{
    text-align: center;
}
.section{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
#section{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
}
.ora-center{
    display: flex;
    justify-content: center;
}

#section .card{
    width: 100%!important;
    margin: 0 auto;
}
.name{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.7rem!important;
}
.media-content{
    margin: 10px;
}

@media screen and (max-width: 650px){
    #section{
        display: grid;
        grid-template-columns: 12fr;
        grid-row-gap: 10px;
        margin: 0 auto;
    }
    #edit-modal{
        top: 0;
        z-index: 50;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.5);
        transition: 1s ease-in-out;
    }
    #edit-modal form{
        background: #fff;
        width: 100%;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 15px 2px #000;
    }
    
}
@media screen and (max-width: 850px){
    #section{
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-row-gap: 10px;
        margin: 0 auto;
    }
    #edit-modal{
        top: 0;
        z-index: 50;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,.5);
        transition: 1s ease-in-out;
    }
    #edit-modal form{
        background: #fff;
        width: 100%;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 15px 2px #000;
    }
    
}
